{deps, [
    {procket, "0.9.8"}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]}
]}.

{erl_opts, [debug_info]}.

{xref_checks, [undefined_function_calls]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        "LICENSE"
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/msantos/tunctl"}
]}.

{hex, [{doc, ex_doc}]}.
